{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="featured-collection container">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
  <div class="row">
    {% for product in collection.products limit: 6 %}
      <a href="{{ product.url | within: collection }}" class="featured-collection-item three columns" data-productHandle="{{ product.handle }}" data-productId="{{ product.id }}">
        {% if product.featured_image != blank %}
          <div class="featured-collection__image">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 480,
              max_height: 480
            %}
            <div class="quick-view">
              <p class="quick-view-button">Quick View</p>
            </div>
          </div>
        {% endif %}

        <p class="product-title">{{ product.title | escape }}</p>
        <span>
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
        </span>
      </a>
    {% else %}
      {% for i in (1..6) %}
        <a href="#" class="featured-collection-item">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p class="product-title">{{ 'homepage.onboarding.product_title' | t }}</p>
          <p>{{ 1999 | money }}</p>
        </a>
      {% endfor %}
    {% endfor %}
  </div>
</section>

<div class="container">
  <div class="quick-look-modal eight columns closed">
    <div class="quick-look-image"><img src="https://cdn.shopify.com/s/files/1/0056/5402/0130/products/Bag_1_300x.png?v=1573949335" /></div>
    <div class="quick-look-product-info">
      <p class="vendor">Vendor Name</p>
      <p class="sku">SKU-001</p>
      <h3 class="product-title">Product Name</h3>
      <p class="price">Price</p>
      <p class="description">description</p>

      <div>
        <div class="product-quantity-box">
          <p class="quantity-icon minus">-</p>
          <input type="number" min="1" size="2" class="quantity" name="quantity" value="1" />
          <p class="quantity-icon plus">+</p>
        </div>
        <p class="add-to-cart">Add To Cart</p>      
      </div>

    </div>
  </div>
</div>

<div class="modal-overlay closed"></div> 

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
