{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}

<section data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div id="announcement-bar">
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <div class="announcement-bar-icon" id="announcement-bar-icon-left"><img src="{{ 'angle-left.png' | asset_url }}" /></div>
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
          <div class="announcement-bar-icon" id="announcement-bar-icon-right"><img src="{{ 'angle-left.png' | asset_url }}" /></div>
        {%- else -%}
          <div class="announcement-bar-icon" id="announcement-bar-icon-left"><img src="{{ 'angle-left.png' | asset_url }}" /></div>
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
          <div class="announcement-bar-icon" id="announcement-bar-icon-right">
            <img src="{{ 'angle-left.png' | asset_url }}" />
            <div id="announcement-bar-close"><img src="{{ 'close.png' | asset_url }}" /></div>
          </div>

        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header role="banner" class="container twelve columns">
    {% if template.name == 'index' %}
      <h1 class="banner-logo">
    {% else %}
      <div class="h1">
    {% endif %}
        <a href="/" class="logo-image">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <nav role="navigation">
      <ul class="menu six columns offset-by-two">
        {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
            <li class="menu-item mega-menu-parent">
              <a href="{{ link.url }}">
                {{ link.title }}
                {% include 'icon-arrow-down' %}
              </a>
              <!-- Show Mega Menu Items lower in HTML for styling purposes -->
            </li>
          {% else %}
            <li class="menu-item">
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>    

    {% if shop.customer_accounts_enabled %}
      <ul class="menu login one columns">
        {% if customer %}
          <li class="menu-item login">
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t | upcase }}</a>
            {% endif %}
          </li>
          <li class="menu-item login">
            {{ 'layout.customer.log_out' | t | customer_logout_link | upcase }}
          </li>
        {% else %}
          <li class="menu-item login">
            {{ 'layout.customer.log_in' | t | customer_login_link | upcase }}
          </li>
        {% endif %}
      </ul>
    {% endif %}

    <div class="icons two columns">
      <a class="icon search" href="/search">
        <img src="{{ 'search.png' | asset_url }}" />
      </a>

      <a class="icon heart" href="/products">
        <img src="{{ 'heart.png' | asset_url }}" />
      </a>

      <a class="icon cart" href="/cart">
        <img src="{{ 'cart.png' | asset_url }}" />
      </a>    
    </div>

    <div class="mega-menu ten columns offset-by-one closed">
      {% for link in linklists[section.settings.menu].links %} 
        {% if link.links != blank %}
          {% for childlink in link.links %}
            {% assign listCounter = forloop.index | modulo: 4 %}

            {% if forloop.index == 13 %}
              <ul class="mega-menu-group mega-odd">
                <li class="mega-menu-item mega-odd">
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>
            {% elsif listCounter == 1%}  
              <ul class="mega-menu-group">
                <h4 class="mega-menu-title">Label</h4>
                <li class="mega-menu-item">
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>              
            {% elsif listCounter == 0 %}  
                <li class="mega-menu-item">
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>
              </ul>              
            {% else %}
                <li class="mega-menu-item">
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>
            {% endif %}        
          {% endfor %}

        {% endif %}        
      {% endfor %}
    </div>

    <div id="mobile-nav">
      <a class="icon cart" href="/cart">
        <img src="{{ 'cart.png' | asset_url }}" />
      </a>  
      <div class="mobile-nav-open">
        {% include 'icon-hamburger' %}
        {% include 'icon-close' %}
      </div>
    </div>
  </header>
</section>

{% if section.settings.logo != blank %}
  <style>
    .banner-logo {
      max-width: {{ section.settings.logo_max_width }}px;
    }
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
